.signin-container {
    padding: 0 22%;
}

.signin-container .register {
    margin-top: 5%;
}

.signin-container h4 {
    margin-bottom: 5%; 
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    .signin-container {
        padding: 0 5%;
    }
  }